/* Set Background */
body {
  background-color: #141820;
  min-height: 100vh;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  padding-top: 80px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

h2 {
  color: white;
}

p {
  color: white;
}

/* About Section */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 40px 20px;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
#about {
  text-align: center;
  padding: 50px 20px;
  margin-bottom: 50px; /* Adds space between About and Skills */
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
/* Skills Section */
.skills {
  text-align: center;
  margin: 50px 0;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
  justify-content: center;
  max-width: 800px;
  margin: auto;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 10px;
}

.skill-card img {
  width: 50px;
  height: 50px;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

.skill-card h3 {
  margin-top: 10px;
  font-size: 16px;
  color: white;
}

.skill-card p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

.skill-card:hover {
  transform: scale(1.1);
}

.skill-card:hover img {
  filter: grayscale(0%);
}
.footer-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    width: 100%;
    justify-content: center;
  }
}
